@import './scss/colors.scss';
@import './scss/null.scss';

:root {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Ubuntu,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
